---
layout: compress
---

{% include base_path %}
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
<head>
   

    {% include head.html %}
    {% include head/custom.html %}

     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{ base_path }}/assets/media/foundation-icons/cmu.png" >
    <meta name="description" content="Personal website of Zixin Ye">
     <!-- Bootstrap core CSS -->
    <link href="{{ base_path }}/assets/media/bootstrap.min.css" rel="stylesheet">


</head>

<body data-gr-c-s-loaded="true">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    </script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  <div id="content">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="display:block;margin-left:16%;margin-right:16%;">
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-responsive img-hover"; align="center"; src="{{ base_path }}/images/gugong.jpeg"; onmouseover="this.src='{{ base_path }}/images/gugong.jpeg'"; onmouseout="this.src='{{ base_path }}/images/gugong.jpeg'"; width='200'; vertical-align='middle'>
                    </div>
                    <div class="col-md-9">
                        <h1 style="color:#000000;padding-top:0px;margin-bottom:10px;margin-top:10px;text-align:left"><strong>Zixin Ye</strong></h2>
                        <!--h2 style="color:#000000;padding-top:0px;margin-bottom:9px;text-align:left"><strong>刘祖欣</strong></h2-->
                        <br>
                        <p style="color: #000000">Master Student, School of Computer Science, Carnegie Mellon University.</p>
                        <!--p style="color: #000000">Office: Room 8-101, Rohm Building, </p-->
                        <p style="color: #000000">Contact: zixinye <strong>AT</strong> andrew <strong>DOT</strong> cmu <strong>DOT</strong> edu</p>
                        <!--a style="color: #000000"><strong>[</strong></a-->
                        <a href="https://github.com/yzx-oikawa" target="_blank" style="padding-top:10px;margin-bottom:20px;margin-left:0px">Github</a>
                        <a style="color: #000000"><strong>/</strong></a>
                        <!-- <a href="https://scholar.google.com/citations?user=5ApCTCoAAAAJ&hl=en" style="padding-top:10px;margin-bottom:20px;margin-left:5px">Google Scholar</a> -->
                        <!-- <a style="color: #000000"><strong>/</strong></a> -->
                        <a href="https://www.linkedin.com/in/zixin-ye-04029518b/" style="padding-top:10px;margin-bottom:20px;margin-left:5px">LinkedIn</a>
                    </div>
                </div>
                <hr>
                <p style="line-height:25px;color: #000000">
                    Second-year Master student major in Software Engineering in <a href="https://www.isri.cmu.edu/">Institute for Software Research</a> of Carnegie Mellon University. <br> 
                    Achieved Bachelor's degree in Computer Science from <a href="http://ev.buaa.edu.cn" target="_blank">Beihang University</a> in July, 2019. <br> 
                    Actively looking for entry-level full-time job as a software engineer. <br>
                    Interested Areas: Full-Stack Web & Mobile Application Development, Scalable Systems, Data Science </p>
                
               <!--  <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header" id="publications"><font color=#000000><div style="line-height:15px"><strong>News & Updates</strong></div></font></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                    <p><font color=#000000><strong>[2019/08/26]</strong> I joined CMU as a Master student.</font></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    <p><font color=#000000><strong>[2019/06/14]</strong> I graduated from Beihang University with <strong>Beijing Outstanding Graduates</strong> honor. </font></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    <p><font color=#000000><strong>[2018/09/28]</strong> Began my exchange life at TU Darmstadt, Germany.</font></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    <p><font color=#000000><strong>[2017/07/09]</strong> Joined DJI as an Algorithm Engineer Intern.</font></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    <p><font color=#000000><strong>[2017/01/15]</strong> Visited University of Canterbury, New Zealand.</font></p>
                    </div>
                </div> -->

                <!-- Projects -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header" id="projects">
                            <font color=#000000>
                                <div style="line-height:15px"><strong>Projects</strong> </div>
                            </font>
                        </h4>
                    </div>
                </div>     

                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{ base_path }}/images/Memory-Book.png" alt="" style="margin-bottom:20px;width:250px;height:152px">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><font color=#000000><div style="line-height:20px"><strong>Memory Book</strong></div></font></h5>
                        <p style="line-height:20px">A photo-posting social website that allows users to share memories and communicate with each other.</p>
                        <p style="line-height:10px;color: #000000"><strong>[</strong><a href="https://floating-harbor-55552.herokuapp.com/" target="_blank">Link</a><strong>] [</strong><a href="https://github.com/yzx-oikawa/Memory-Book" target="_blank">Code</a><strong>]</strong></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{ base_path }}/images/Lightning-App.png" alt="" style="margin-bottom:20px;width:250px;height:152px">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><font color=#000000><div style="line-height:20px"><strong>GOES Lighting App</strong></div></font></h5>
                        <p style="line-height:20px">A mobile application that displayes the nearest lightning strikes around the user, reminds user of approaching thunderstorms, and shows weather information at the user’s location.</p>
                        <p style="line-height:20px">Integrated with real lightning data from GOES-16 satellite through RESTful APIs and Google Maps Platform.</p>
                        <p style="line-height:10px;color: #000000"><strong>[</strong><a href="https://drive.google.com/file/d/10hqVQ_Eb-G62EqOoKTTEHDUgnRnSGKfL/view?usp=sharing" target="_blank">Slides</a><strong>] </strong></p>
                    </div>
                </div>

                <!-- Publications -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header" id="publications">
                            <font color=#000000>
                                <div style="line-height:15px"><strong>Publications</strong> </div>
                            </font>
                        </h4>
                    </div>
                </div>                


                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{ base_path }}/images/SIGIR2019.png" alt="" style="margin-bottom:20px;width:250px;height:152px">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><font color=#000000><div style="line-height:20px"><strong>Human Behavior Inspired Machine Reading Comprehension</strong></div></font></h5>
                        <p style="line-height:20px">Yukun Zheng, Jiaxin Mao, Yiqun Liu, <strong>Zixin Ye</strong>, Min Zhang and Shaoping Ma<br><strong>SIGIR 2019</strong>: Proceedings of the 42nd International ACM SIGIR Conference on Research and Development in Information Retrieval.</p>
                        <p style="line-height:10px;color: #000000"><strong>[</strong><a href="https://dl.acm.org/doi/pdf/10.1145/3331184.3331231" target="_blank">arXiv</a><strong>] </strong></p>
                    </div>
                </div>

                <div class="row">
                                        
                     <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{ base_path }}/images/WWW2019.png" alt="" style="width:250px;height:182px">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><font color=#000000><div style="line-height:20px"><strong>Grid-based Evaluation Metrics for Web Image Search</strong></div></font></h5>
                        <p style="line-height:20px">Xiaohui Xie, Jiaxin Mao, Yiqun Liu, Maarten de Rijke, Yunqiu Shao, <strong>Zixin Ye</strong>, Min Zhang and Shaoping Ma<br><strong>WWW 2019</strong>: The World Wide Web Conference.</p>
                        <p style="line-height:10px;color: #000000"><strong>[</strong><a href="https://dl.acm.org/doi/pdf/10.1145/3308558.3313514" target="_blank">arXiv</a><strong>] </strong></p>
                    </div>
                </div>


                

<!--                 <Heading>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header" id="projects"><font color=#000000><div style="line-height:15px"><strong>Some Undergraduate Projects</strong></div></font></h4>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{base_path}}/images/projects/semantic.gif" alt="" style="border:1px solid #C0C0C0">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><a><font color=#000000><div style="line-height:2px">Robot’s Eyes and Brain: Visual Semantic SLAM System, 2018</div></font></a></h5>
                        <p style="line-height:20px"> We developed a visual semantic SLAM system based on orb-slam2 and Mask-RCNN. The robot can build a semantic map for the environment and remember each object's position. With a speech recognition module, we can use voice command to let the robot find a particular object if he has seen before. This project won the first prize in the 2018 International Conference on Optics and Photonics(ICOPEN) 3-D Sensor Application Design Competition (1 out of 20 teams around the world)</p>
                        <p style="line-height:10px;color: #000000"><strong>[</strong><a href="https://www.bilibili.com/video/BV1CW41157W2">video</a><strong>]</strong>
                    </div>
                </div> -->
               <!--  <br>

                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{base_path}}/images/projects/vr.gif" alt="" style="border:1px solid #C0C0C0">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><a><font color=#000000><div style="line-height:2px">VR Multicopter System, 2017</div></font></a></h5>
                        <p style="line-height:20px">Do you want to fly? Our VR-Multicopter system can help you to experience the feeling of fly. We use a VR device to control orientation of a gimbal that mounted on our multicopter. The stereo camera on the gimbal will send videos back to our VR equipment in real-time. Just move your head and enjoy the view from sky! This project won the first prize in the 2017 International Design and Innovation Competition (1 out of 14 teams around the world) </p>
                        <p style="line-height:10px;color: #000000">
                          <strong>[</strong><a href="https://www.bilibili.com/video/BV1Vx411s7HM" target="_blank">video</a><strong>]</strong></p>
                    </div>
                </div>

               

                <br>

                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{base_path}}/images/projects/slam.gif" alt="" style="border:1px solid #C0C0C0">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><a><font color=#000000><div style="line-height:2px">Autonomous Navigation Robot, 2017</div></font></a></h5>
                        <p style="line-height:20px">I led a team to build a mobile robot platform which could achieve autonomous navigation and obstacle avoidance based on RTAB-Map SLAM and ROS Navigation Stack. Just with one-click, the robot can autonomously navigate to wherever you want.</p>
                        <p style="line-height:10px;color: #000000"><strong>[</strong><a href="https://www.bilibili.com/video/BV1Lx411e7As" target="_blank">video</a><strong>] </strong>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{base_path}}/images/projects/dji.jpg" alt="" style="border:1px solid #C0C0C0">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><a><font color=#000000><div style="line-height:2px">Automatic AI Robot System, 2017</div></font></a></h5>
                        <p style="line-height:20px"> This project is designed for <a href="https://www.icra2019.org/competitions/dji-robomaster-ai-challenge" target="_blank">ICRA DJI Robotmaster AI challenge</a>. The robots are required to autonomously find enemy robots and hit them (shoot rubber ball). More exciting information and videos about this robot platform and the relevant robot competition can be found <a href="https://www.robomaster.com/en-US">here.</a> </p>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img class="img-responsive img-hover" src="{{base_path}}/images/projects/biaoqing.gif" alt="" style="border:1px solid #C0C0C0;width:249px;height:249px">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h5><a><font color=#000000><div style="line-height:2px">Arduino-based Interactive Facial Expression Robot, 2016</div></font></a></h5>
                        <p style="line-height:20px">This cute robot could make different expressions according to user’s voice command. The movements of its eyes, eyebrow, and mouth etc are fully controlled by servo motors. Most of the materials are 3D printed. </p>
                    </div>
                </div>
 -->
                <!-- Heading -->
<!--                 <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header" id="honors"><font color=#000000><div style="line-height:15px"><strong>Selected Honors and Awards</strong></div></font></h4>
                    </div>
                </div> -->
                
                <!-- New Project -->
<!--                 <div class="row">
                    <div class="col-md-12">
                        <p style="color: #000000"><strong>[2016&2017&2018]</strong> National Scholarship (top 1%), Ministry of Education of the People's Republic of China </p>
                        <p style="color: #000000"><strong>[2016&2017&2018]</strong> University-level Outstanding Student, Beihang University</p>
                        <p style="color: #000000"><strong>[2018]</strong> Shenyuan Golden Medal Award (10/4000), Beihang University</p>
                        <p style="color: #000000"><strong>[2018]</strong> Beijing Outstanding Student, Ministry of Education of Beijing</p>
                        <p style="color: #000000"><strong>[2018]</strong> 28<sup>th</sup> Feng Ru Cup Competition of Academic and Technological Works (top1%), Beihang University</p>
                        <p style="color: #000000"><strong>[2017]</strong> Dean's Award, Beihang University</p>
                    </div>
                </div> -->
                <!-- /.row -->

                <!-- Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header" id="projects"><font color=#000000><div style="line-height:15px"></div></font></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <!-- <a href="https://clustrmaps.com/site/1b6i1" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=Agf5h6w3DGpwhWmUzAM1hqH3jzRA0pIGts5BrPUz7Dc&cl=ffffff"></a> -->
                        <a href="https://clustrmaps.com/site/1b6on" title="Visit tracker"><img src="//clustrmaps.com/map_v2.png?cl=ffffff&w=180&t=m&d=80B1gfUqRYE82mGjaMDFSa2ZxXBE9hZh4GfbZsDF9Ho&co=2d78ad&ct=ffffff" /></a>

                    </div>
                    <div class="col-md-6">
                        <h5 style="color:#787878;font-size:5px"> Updated on April 11<sup>st</sup>, 2020</p>
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
                        <a href="mailto:zixinye@andrew.cmu.edu" target="_blank"><img width="20" src="{{base_path}}/assets/media/icon/mail2.jpg" ></a>
                        &nbsp
                        <a href="https://github.com/yzx-oikawa" target="_blank"><img width="20" src="{{base_path}}/assets/media/icon/github.png" ></a>
                        &nbsp
                        <a href="https://www.linkedin.com/in/zixin-ye-04029518b//" target="_blank"><img width="20" src="{{base_path}}/assets/media/icon/linkedin.png" ></a>
<!--                         &nbsp
                        <a href="https://scholar.google.com/citations?user=5ApCTCoAAAAJ&hl=en" target="_blank"><img width="20" src="{{base_path}}/assets/media/icon/google.png" ></a> -->
                        <h5 style="color:#787878;font-size:5px"> &nbsp &nbsp &nbsp Zixin Ye© 2019-2020</p>
                    </div>
                </div>
                

            </div> <!-- /#page-content-wrapper -->
        </div>
        <br>
        <footer style="text-align:center">
        </footer>
        <br>
        <script src="{{base_path}}/assets/js/jquery.min.js"></script>
        <script src="{{base_path}}/assets/js/bootstrap.min.js"></script> <!-- static is the folder name -->
    </div>

</body>
